<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
    <div id="practice">
        <h2> SCORE KEEPER </h2>

        <setting-game
                :class="['vue-content']"
                @game-start="playGame"
                v-show="showSettingGame"
        >
        </setting-game>

        <playing-game
                :class="['vue-content']"
                v-if="gameStart"
                :players="players"
                :score="winningScore"
                @reset-game="resetGame"
        >
        </playing-game>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>