body {
    text-align: center;
    position: relative;
}



ul {
    list-style-type: none;
    font-size: 0.8rem;
    margin-bottom: 50px;
}

.vue-content {
    margin-top: 100px;
    margin-bottom: 200px;
}

.btn-start {
    margin: 60px 0;
    font-size: 1.2rem;
}

#practice {
     width: 50%;
     margin: 0;
     position: absolute;
     left: 25%;
 }

@media screen and (max-width: 600px) {
    #practice {
        width: 100%;
        position: relative;
        left: 0;
    }
}